In [4]:
from pandas.api.types import CategoricalDtype
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import time 
import pandas as pd
from pprint import pprint
import csv
import json

In [2]:
# California Population data by county (web scrapping)
# setting up splinter

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

url = 'https://worldpopulationreview.com/us-counties/states/ca'
browser.visit(url)

table = pd.read_html(url)
county_population = table[0]

# saving the datafile as a csv file
county_population.to_csv('./data/county_population2021_data.csv', index = False)
county_population.head()

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Get LATEST driver version for 94.0.4606
Trying to download new driver from https://chromedriver.storage.googleapis.com/94.0.4606.61/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\tsube\.wdm\drivers\chromedriver\win32\94.0.4606.61]

                    Name  2021 Population Growth Since 2010  Density (mi²)
0     Los Angeles County          9969510             1.49%       13488.85
1       San Diego County          3347270             7.86%        4528.89
2          Orange County          3175130             5.31%        4295.98
3       Riverside County          2520060            14.47%        3409.67
4  San Bernardino County          2206750             8.13%        2985.76

In [3]:
# county population data source: 
# https://cmu-delphi.github.io/covidcast/covidcastR/reference/county_census.html
#  https://www2.census.gov/programs-surveys/popest/datasets/2010-2019/counties/totals/co-est2019-alldata.csv


county_population = pd.read_csv("./data/county_population2021_data.csv")

# create datafile containing only the columns of interest

county_population = pd.DataFrame(county_population, columns= ['Name', '2021 Population', 'Density (mi²)'])

population = county_population['2021 Population']
county_name = list(county_population['Name'])
density = county_population['Density (mi²)'] # Since the density was removed from the original data
# state = county_population['State']

In [4]:
# cleaning county names (removed the last part containing "County" to make it identical with other datafiles for relation)
county = []
for i in county_name:
    i = i[:-7]
    county.append(i)

county_population = pd.DataFrame({'county': county, 'population': population, 'density': density})

# save the cleaned data as csv 
county_population.to_csv('./data/county_population.csv', index = False)
county_population

             county  population   density
0       Los Angeles     9969510  13488.85
1         San Diego     3347270   4528.89
2            Orange     3175130   4295.98
3         Riverside     2520060   3409.67
4    San Bernardino     2206750   2985.76
5       Santa Clara     1918880   2596.26
6           Alameda     1680480   2273.71
7        Sacramento     1578680   2135.97
8      Contra Costa     1159540   1568.87
9            Fresno     1013400   1371.14
10             Kern      913090   1235.42
11    San Francisco      883255   1195.05
12          Ventura      841734   1138.87
13      San Joaquin      781462   1057.33
14        San Mateo      762357   1031.48
15       Stanislaus      555728    751.91
16           Sonoma      485722    657.19
17           Tulare      469407    635.11
18           Solano      451479    610.86
19    Santa Barbara      447937    606.06
20         Monterey      434283    587.59
21           Placer      410327    555.18
22           Merced      284738    385.25
23  San Luis Obispo      282625    382.39
24       Santa Cruz      271957    367.96
25            Marin      257154    347.93
26             Yolo      221264    299.37
27        El Dorado      197037    266.59
28            Butte      196880    266.38
29           Shasta      180822    244.65
30         Imperial      180599    244.35
31           Madera      158217    214.07
32            Kings      156056    211.15
33             Napa      135654    183.54
34         Humboldt      134186    181.56
35           Nevada      100249    135.64
36           Sutter       98217    132.89
37        Mendocino       85445    115.61
38             Yuba       80890    109.45
39           Tehama       67216     90.94
40       San Benito       65490     88.61
41             Lake       64524     87.30
42         Tuolumne       54660     73.96
43        Calaveras       46319     62.67
44         Siskiyou       43517     58.88
45           Amador       40446     54.72
46           Lassen       30483     41.24
47            Glenn       29245     39.57
48        Del Norte       27956     37.82
49           Colusa       21805     29.50
50           Plumas       18939     25.62
51             Inyo       18225     24.66
52         Mariposa       16799     22.73
53             Mono       14526     19.65
54          Trinity       11721     15.86
55            Modoc        8923     12.07
56           Sierra        3021      4.09
57           Alpine        1209      1.64

In [5]:
browser.quit()

In [6]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

url = 'https://en.wikipedia.org/wiki/List_of_counties_in_California#List'
browser.visit(url)

table = pd.read_html(url)
county_fips = table[1]

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\tsube\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

In [7]:
county_fips_data = pd.DataFrame(county_fips)
county_fips_data.head()

,County,FIPS code[5],County seat[6],Est.[6],Formed from,Etymology[7],General Law or Charter[8],Population (2020)[9],Area[6],Map
0,Alameda County,1,Oakland,1853,Contra Costa and Santa Clara,"The oak and other trees, once abundant in the ...",Charter,1682353,"738 sq mi(1,911 km2)",NaN
1,Alpine County,3,Markleeville,1864,"Amador, El Dorado, Calaveras, Mono and Tuolumne",Location high in the Sierra Nevada; alpine ref...,General Law,1204,"739 sq mi(1,914 km2)",NaN
2,Amador County,5,Jackson,1854,Calaveras,"Jose Maria Amador (1794–1883), a soldier, ranc...",General Law,40474,"606 sq mi(1,570 km2)",NaN
3,Butte County,7,Oroville,1850,original,"Sutter Buttes, which were mistakenly thought t...",Charter,211632,"1,640 sq mi(4,248 km2)",NaN
4,Calaveras County,9,San Andreas,1850,original,"Calaveras River; calaveras is Spanish for ""sku...",General Law,45292,"1,020 sq mi(2,642 km2)",NaN

In [8]:
county_fips.to_csv('./data/county_fips_originaldata.csv', index = False)

In [9]:
browser.quit()

In [10]:
county_names = list(county_fips_data['County'].astype(str))
FIPS = list(county_fips_data['FIPS code[5]'].astype(int))

d = {'county': county_names, 'FIPS': FIPS}
county_fips = pd.DataFrame(d)

county_fips.to_csv('./data/county_fips.csv', index = False)
county_fips = pd.read_csv('./data/county_fips.csv')

# print(county_name)
county=[]
for i in county_names:
    i = i[:-7]
    county.append(i)

county_fips = pd.DataFrame({'county': county, 'fips': FIPS})
county_fips = county_fips.replace('San Fr', 'San Francisco') # since there was inconsistent data value and is updated 
county_fips.to_csv('./data/county_fips.csv', index = False)
county_fips.head()

      county  fips
0    Alameda     1
1     Alpine     3
2     Amador     5
3      Butte     7
4  Calaveras     9

In [11]:
county_pop_fips = pd.merge(county_population, county_fips, on = 'county', how = 'left')
county_pop_fips = pd.DataFrame(county_pop_fips, columns=['fips', 'population', 'density'])

county_pop_fips= county_pop_fips.sort_values(by = 'fips', ascending = True)
# county_pop_fips = county_pop_fips.reset_index()

county_pop_fips.to_csv('./data/county_pop.csv', index = False)

county_pop_fips.head()

    fips  population  density
6      1     1680480  2273.71
57     3        1209     1.64
45     5       40446    54.72
28     7      196880   266.38
43     9       46319    62.67

In [2]:
# California county vaccination data downloaded from https://data.chhs.ca.gov/dataset/vaccine-progress-dashboard

csv_data = pd.read_csv("./data/statewide_covid_19_vaccination_by_county.csv", encoding = 'utf8')
csv_data.head()

,county,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,california_flag
0,Alameda,2020-07-27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
1,Alameda,2020-07-28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
2,Alameda,2020-07-29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
3,Alameda,2020-07-30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
4,Alameda,2020-07-31,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN

In [3]:
# Selecting only the residence county as reported in the data (elemination method is used)
ca_vaccin_data = csv_data.query('county !="All CA Counties"')
ca_vaccin_data = ca_vaccin_data.query('county !="All CA and Non-CA Counties"')
ca_vaccin_data = ca_vaccin_data.query('county !="Outside California"')
ca_vaccin_data = ca_vaccin_data.query('county !="Unknown"')
ca_vaccin_data = ca_vaccin_data.query('county !="California"')
# getting new dataframe for total vaccination (fully, partially vaccinated) by counties

county_vac_data = pd.DataFrame(ca_vaccin_data, columns = ['county', 'administered_date',\
                                                     'partially_vaccinated', 'fully_vaccinated'])
                                       
county_vac_data['month'] = pd.DatetimeIndex(county_vac_data['administered_date']).month_name()

# Creating a new dataframe with months as variable to be utilized for ploting by months
county_vac_data_cleaned = pd.DataFrame(county_vac_data, columns=['county', 'month','administered_date','fully_vaccinated','partially_vaccinated'])

county_vac_data_cleaned.to_csv('./data/county_vac_data_cleaned.csv', index = False)
county_vac_data_cleaned

,county,month,administered_date,fully_vaccinated,partially_vaccinated
0,Alameda,July,2020-07-27,0,0
1,Alameda,July,2020-07-28,0,0
2,Alameda,July,2020-07-29,0,0
3,Alameda,July,2020-07-30,0,0
4,Alameda,July,2020-07-31,0,0
...,...,...,...,...,...
27337,Yuba,October,2021-10-07,78,45
27338,Yuba,October,2021-10-08,88,63
27339,Yuba,October,2021-10-09,43,27
27340,Yuba,October,2021-10-10,27,12
27341,Yuba,October,2021-10-11,34,25

In [4]:
# California COVID-19 cases and tests by county downloaded from 
# https://data.chhs.ca.gov/dataset/covid-19-time-series-metrics-by-county-and-state

cases_data = pd.read_csv("./data/statewide_covid_19_cases_by_county.csv", encoding = 'utf8')

cases_data = cases_data.query('area !="All CA Counties"')
cases_data = cases_data.query('area !="All CA and Non-CA Counties"')
cases_data = cases_data.query('area !="Outside California"')
cases_data = cases_data.query('area !="Unknown"')
cases_data = cases_data.query('area !="California"')
cases_data = cases_data.query('area_type =="County"')
cases_data = cases_data.dropna()
cases_data

,date,area,area_type,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_cases,cumulative_reported_cases,reported_deaths,cumulative_reported_deaths,reported_tests
94,2020-05-05,Alameda,County,1685886.0,59.0,2222.0,1.0,75.0,1228.0,30087,65.0,1925,57.0,1819.0,2.0,67.0,618.0
95,2020-05-06,Alameda,County,1685886.0,43.0,2265.0,2.0,77.0,1305.0,31392,78.0,2003,45.0,1864.0,0.0,67.0,1120.0
96,2020-05-07,Alameda,County,1685886.0,37.0,2302.0,1.0,78.0,1339.0,32731,38.0,2041,50.0,1914.0,1.0,68.0,1031.0
97,2020-05-08,Alameda,County,1685886.0,60.0,2362.0,2.0,80.0,1787.0,34518,83.0,2124,41.0,1955.0,2.0,70.0,1194.0
98,2020-05-09,Alameda,County,1685886.0,43.0,2405.0,1.0,81.0,553.0,35071,18.0,2142,56.0,2011.0,1.0,71.0,1301.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36349,2021-09-12,Yuba,County,79290.0,20.0,8929.0,0.0,49.0,125.0,99799,23.0,10227,29.0,8842.0,0.0,61.0,344.0
36350,2021-09-13,Yuba,County,79290.0,29.0,8958.0,0.0,49.0,314.0,100113,33.0,10260,42.0,8884.0,0.0,61.0,361.0
36351,2021-09-14,Yuba,County,79290.0,40.0,8998.0,0.0,49.0,460.0,100573,52.0,10312,44.0,8928.0,0.0,61.0,305.0
36352,2021-09-15,Yuba,County,79290.0,13.0,9011.0,0.0,49.0,122.0,100695,18.0,10330,25.0,8953.0,0.0,61.0,244.0
36353,2021-09-16,Yuba,County,79290.0,6.0,9017.0,0.0,49.0,70.0,100765,8.0,10338,28.0,8981.0,0.0,61.0,325.0

In [5]:
# Creating 'month' as a new variable based on the date

cases_data['month'] = pd.DatetimeIndex(cases_data['date']).month_name()

# Datafiles for cases and tests are separated into two relating with the common variable 'area'
county_cases_data = pd.DataFrame(cases_data, columns=['date','area', 'month','cases','deaths'])
county_tests_data = pd.DataFrame(cases_data, columns=['date','area', 'total_tests', 'positive_tests'])

# Datafile 'cases' saved as csv
county_cases_data.to_csv('./data/county_cases_data.csv', index = False)
county_cases_data.head()

          date     area month  cases  deaths
94  2020-05-05  Alameda   May   59.0     1.0
95  2020-05-06  Alameda   May   43.0     2.0
96  2020-05-07  Alameda   May   37.0     1.0
97  2020-05-08  Alameda   May   60.0     2.0
98  2020-05-09  Alameda   May   43.0     1.0

In [6]:
# Datafile 'tests' saved as csv

county_tests_data.to_csv('./data/county_tests_data.csv', index = False)
county_tests_data.head()

          date     area  total_tests  positive_tests
94  2020-05-05  Alameda       1228.0            65.0
95  2020-05-06  Alameda       1305.0            78.0
96  2020-05-07  Alameda       1339.0            38.0
97  2020-05-08  Alameda       1787.0            83.0
98  2020-05-09  Alameda        553.0            18.0

In [5]:
# Python SQL toolkit and Object Relational Mapper
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from config import username, password

In [6]:
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/county_covid_database')
connection = engine.connect()

In [7]:
# Loading population data (using sql view 'population')
population = pd.read_sql("SELECT * from population", connection)
population.head()

      county  population
0    Alameda   1680480.0
1     Alpine      1209.0
2     Amador     40446.0
3      Butte    196880.0
4  Calaveras     46319.0

In [10]:
# Loading tests data (sql view 'tests')
tests = pd.read_sql("SELECT * from tests", connection)
tests.head()

         county      tests  positive
0         Butte   289588.0   18739.0
1    Stanislaus   853451.0   80361.0
2        Alpine     2151.0      46.0
3  Contra Costa  2141866.0  102018.0
4    Santa Cruz   548040.0   20096.0

In [11]:
# loading cases data
cases = pd.read_sql("SELECT * from cases", connection)
cases.head()

         county    cases  deaths
0         Butte  17542.0   228.0
1    Stanislaus  69860.0  1060.0
2        Alpine     98.0     0.0
3  Contra Costa  89960.0   882.0
4    Santa Cruz  18662.0   209.0

In [12]:
# Loading vaccination data
vaccination = pd.read_sql("SELECT * from vac", connection)
vaccination.head()

         county  total_full  total_partial
0         Butte       96451         100901
1    Stanislaus      247397         275328
2        Alpine         705            790
3  Contra Costa      804166         805267
4    Santa Cruz      173761         182760

In [15]:
# Loading combined dataset (using sql view 'county_wise_combined_data')

combined_data = pd.read_sql("SELECT * from county_wise_combined_data", connection)
combined_data.to_csv('./data/combined_data.csv', index = False)
combined_data.head()
combined_data["percentFullVax"] = round(combined_data['total_full']/combined_data['population'] *100, 2)

combined_data["percentCases"] = round(combined_data['cases']/combined_data['population'] *100, 2)

combined_data["percentDeaths"] = round(combined_data['deaths']/combined_data['population'] *100, 2)

combined_data

,county,population,tests,positive,cases,deaths,total_full,total_partial,percentFullVax,percentCases,percentDeaths
0,Alameda,1680480.0,3590879.0,130133.0,107950.0,1230.0,1151524,1128245,68.52,6.42,0.07
1,Alpine,1209.0,2151.0,46.0,98.0,0.0,705,790,58.31,8.11,0.00
2,Amador,40446.0,149585.0,5485.0,4745.0,58.0,17826,19639,44.07,11.73,0.14
3,Butte,196880.0,289588.0,18739.0,17542.0,228.0,96451,100901,48.99,8.91,0.12
4,Calaveras,46319.0,55933.0,3768.0,3270.0,65.0,20647,21932,44.58,7.06,0.14
5,Colusa,21805.0,23090.0,2199.0,2343.0,16.0,10478,11059,48.05,10.75,0.07
6,Contra Costa,1159540.0,2141866.0,102018.0,89960.0,882.0,804166,805267,69.35,7.76,0.08
7,Del Norte,27956.0,127754.0,3646.0,3210.0,29.0,10578,11220,37.84,11.48,0.10
8,El Dorado,197037.0,245215.0,14841.0,14052.0,124.0,100822,104156,51.17,7.13,0.06
9,Fresno,1013400.0,1605085.0,144932.0,121531.0,1857.0,477528,517126,47.12,11.99,0.18
10,Glenn,29245.0,31724.0,3152.0,3038.0,24.0,12613,12727,43.13,10.39,0.08
11,Humboldt,134186.0,193795.0,8638.0,7500.0,50.0,75391,76411,56.18,5.59,0.04
12,Imperial,180599.0,375217.0,35366.0,30027.0,740.0,118090,128800,65.39,16.63,0.41
13,Inyo,18225.0,21922.0,1355.0,1597.0,38.0,8992,9337,49.34,8.76,0.21
14,Kern,913090.0,1396151.0,128279.0,111923.0,1421.0,366141,395875,40.10,12.26,0.16
15,Kings,156056.0,462446.0,32161.0,27628.0,280.0,51145,56331,32.77,17.70,0.18
16,Lake,64524.0,92463.0,6699.0,5609.0,84.0,29859,31361,46.28,8.69,0.13
17,Lassen,30483.0,179553.0,7171.0,6050.0,23.0,6732,6468,22.08,19.85,0.08
18,Los Angeles,9969510.0,29303282.0,1702841.0,1324628.0,24128.0,6010757,6285936,60.29,13.29,0.24
19,Madera,158217.0,333610.0,22335.0,19641.0,252.0,66615,70982,42.10,12.41,0.16
20,Marin,257154.0,638851.0,18076.0,16093.0,226.0,198248,199579,77.09,6.26,0.09
21,Mariposa,16799.0,29224.0,946.0,836.0,3.0,6041,7997,35.96,4.98,0.02
22,Mendocino,85445.0,134167.0,7060.0,6358.0,65.0,49881,53683,58.38,7.44,0.08
23,Merced,284738.0,473969.0,41123.0,37180.0,524.0,107471,123726,37.74,13.06,0.18
24,Modoc,8923.0,6484.0,214.0,453.0,5.0,3226,3097,36.15,5.08,0.06
25,Mono,14526.0,22638.0,1653.0,1408.0,2.0,8380,8820,57.69,9.69,0.01
26,Monterey,434283.0,739418.0,51484.0,45803.0,553.0,254886,265728,58.69,10.55,0.13
27,Napa,135654.0,333338.0,12732.0,11849.0,89.0,92782,98853,68.40,8.73,0.07
28,Nevada,100249.0,142669.0,8401.0,7815.0,81.0,53549,57556,53.42,7.80,0.08
29,Orange,3175130.0,4728003.0,346437.0,284020.0,5235.0,1947863,2015165,61.35,8.95,0.16
30,Placer,410327.0,555923.0,34870.0,32265.0,350.0,222930,231922,54.33,7.86,0.09
31,Plumas,18939.0,28552.0,1186.0,1163.0,5.0,9050,8832,47.78,6.14,0.03
32,Riverside,2520060.0,3680001.0,394759.0,331043.0,4531.0,1189318,1282784,47.19,13.14,0.18
33,Sacramento,1578680.0,2585300.0,162204.0,141319.0,1910.0,850700,895469,53.89,8.95,0.12
34,San Benito,65490.0,105247.0,7877.0,6797.0,60.0,35695,37369,54.50,10.38,0.09
35,San Bernardino,2206750.0,3803020.0,389404.0,329165.0,5265.0,997026,1067484,45.18,14.92,0.24
36,San Diego,3347270.0,6427084.0,403751.0,336712.0,3798.0,2117134,2175592,63.25,10.06,0.11
37,San Francisco,883255.0,2580665.0,59299.0,45668.0,562.0,646138,644212,73.15,5.17,0.06
38,San Joaquin,781462.0,1335718.0,103721.0,89882.0,1574.0,365491,402790,46.77,11.50,0.20
39,San Luis Obispo,282625.0,634709.0,28686.0,26489.0,305.0,155542,162082,55.03,9.37,0.11
40,San Mateo,762357.0,2150850.0,61476.0,48308.0,487.0,550648,556058,72.23,6.34,0.06
41,Santa Barbara,447937.0,784837.0,46042.0,39743.0,479.0,259454,268922,57.92,8.87,0.11
42,Santa Clara,1918880.0,5255178.0,156091.0,134261.0,1689.0,1421838,1408450,74.10,7.00,0.09
43,Santa Cruz,271957.0,548040.0,20096.0,18662.0,209.0,173761,182760,63.89,6.86,0.08
44,Shasta,180822.0,277096.0,15069.0,17322.0,248.0,66788,72718,36.94,9.58,0.14
45,Sierra,3021.0,3807.0,129.0,120.0,0.0,1467,1511,48.56,3.97,0.00
46,Siskiyou,43517.0,40600.0,2998.0,2807.0,35.0,17696,19389,40.66,6.45,0.08
47,Solano,451479.0,886186.0,44519.0,41552.0,302.0,241103,270121,53.40,9.20,0.07
48,Sonoma,485722.0,924294.0,41625.0,37601.0,361.0,330718,340813,68.09,7.74,0.07
49,Stanislaus,555728.0,853451.0,80361.0,69860.0,1060.0,247397,275328,44.52,12.57,0.19
50,Sutter,98217.0,136247.0,14087.0,12517.0,149.0,46562,49307,47.41,12.74,0.15
51,Tehama,67216.0,77391.0,7017.0,6946.0,82.0,22069,23339,32.83,10.33,0.12
52,Trinity,11721.0,9622.0,597.0,550.0,4.0,5007,5085,42.72,4.69,0.03
53,Tulare,469407.0,728851.0,66225.0,57999.0,846.0,192038,214108,40.91,12.36,0.18
54,Tuolumne,54660.0,130766.0,6921.0,5912.0,84.0,24527,26410,44.87,10.82,0.15
55,Ventura,841734.0,1776747.0,111007.0,91265.0,1068.0,515663,531813,61.26,10.84,0.13
56,Yolo,221264.0,700498.0,18353.0,17604.0,211.0,128763,135615,58.19,7.96,0.10
57,Yuba,80890.0,97707.0,10091.0,8755.0,48.0,29592,30577,36.58,10.82,0.06

In [8]:
# County Population with higher density (population >= 1000 per sq miles) 

dense_county_data = pd.read_sql("SELECT * from high_pop_density", connection)
dense_county_data

            county  population
0          Alameda   1680480.0
1     Contra Costa   1159540.0
2           Fresno   1013400.0
3             Kern    913090.0
4      Los Angeles   9969510.0
5           Orange   3175130.0
6        Riverside   2520060.0
7       Sacramento   1578680.0
8   San Bernardino   2206750.0
9        San Diego   3347270.0
10   San Francisco    883255.0
11     San Joaquin    781462.0
12       San Mateo    762357.0
13     Santa Clara   1918880.0
14         Ventura    841734.0

In [9]:
# Denser county full dataset (population density >= 1000 per square miles)

dense_county_full_data = pd.read_sql("select a.* from county_wise_combined_data a join high_pop_density h on a.county = h.county", connection)
dense_county_full_data.to_csv('./data/dense_county_full_data.csv', index = False)
dense_county_full_data

,county,population,tests,positive,cases,deaths,total_full,total_partial
0,Alameda,1680480.0,3590879.0,130133.0,107950.0,1230.0,1151524,1128245
1,Contra Costa,1159540.0,2141866.0,102018.0,89960.0,882.0,804166,805267
2,Fresno,1013400.0,1605085.0,144932.0,121531.0,1857.0,477528,517126
3,Kern,913090.0,1396151.0,128279.0,111923.0,1421.0,366141,395875
4,Los Angeles,9969510.0,29303282.0,1702841.0,1324628.0,24128.0,6010757,6285936
5,Orange,3175130.0,4728003.0,346437.0,284020.0,5235.0,1947863,2015165
6,Riverside,2520060.0,3680001.0,394759.0,331043.0,4531.0,1189318,1282784
7,Sacramento,1578680.0,2585300.0,162204.0,141319.0,1910.0,850700,895469
8,San Bernardino,2206750.0,3803020.0,389404.0,329165.0,5265.0,997026,1067484
9,San Diego,3347270.0,6427084.0,403751.0,336712.0,3798.0,2117134,2175592
10,San Francisco,883255.0,2580665.0,59299.0,45668.0,562.0,646138,644212
11,San Joaquin,781462.0,1335718.0,103721.0,89882.0,1574.0,365491,402790
12,San Mateo,762357.0,2150850.0,61476.0,48308.0,487.0,550648,556058
13,Santa Clara,1918880.0,5255178.0,156091.0,134261.0,1689.0,1421838,1408450
14,Ventura,841734.0,1776747.0,111007.0,91265.0,1068.0,515663,531813

In [17]:
# Converting csv data file to json data
# import csv 
# import json 

# def csv_to_json(csvFilePath, jsonFilePath):
#     jsonArray = []
      
#     #read csv file
#     with open(csvFilePath, encoding='utf-8') as csvf: 
#         #load csv file data using csv library's dictionary reader
#         csvReader = csv.DictReader(csvf) 

#         #convert each csv row into python dict
#         for row in csvReader: 
#             #add this python dict to json array
#             jsonArray.append(row)
  
#     #convert python jsonArray to JSON String and write to file
#     with open(jsonFilePath, 'w', encoding='utf-8') as jsonf: 
#         jsonString = json.dumps(jsonArray, indent=4)
#         jsonf.write(jsonString)
        
# csvFilePath = r'./data/combined_data.csv'
# jsonFilePath = r'./data/combined_data.json'
# csv_to_json(csvFilePath, jsonFilePath)

In [16]:
import csv 
import json 

combined_data.to_json('./data/combined_data.js', orient='records')

In [11]:
import csv 
import json 

dense_county_full_data.to_json('./data/dense_county_full_data.js', orient='records')